body{
    margin: 0;
    background-color: #7A9EC3;
    font-family: 'Montagu Slab', serif;
    font-size: 20px;
    line-height: 1.6;
    color: #ffffff
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin:0;
}


/* Container */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/tartviewmodified.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_vaatamisv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("https://www.tarmohaud.ee/storage/cache/images/004/779/DJI-0741,medium.2x.1548881874.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.introO{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("https://upload.wikimedia.org/wikipedia/et/8/8a/Tamme_staadion_2015.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro_sport{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("https://f10.pmo.ee/_xsywFE_vqKNi3X9od18LJTAVnA=/fit-in/1200x630/filters:no_upscale()/nginx/o/2019/10/06/12629510t1h29b2.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__inner_blue {
    color:#3676A5;
    width: 100%;
    font-size: 70px;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__inner_aktiivne{
    color:rgb(255, 255, 255);
    width: 200%;
    max-width: 880px;
    margin: 0 auto;
    text-align:left;
}

.intro__title {
    color: #3676A5;
    font-size: 100px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
}

.intro__title:after {
    content: "";
    display: block;
    width: 100px;
    height: 5px;
    margin: 60px auto;
    background-color: #7A9EC3;
}
.intro__suptitle {
    margin-bottom: 20px;
    font-family: 'Montagu Slab', cursive;
    font-size: 20px;
    color: #7A9EC3;
}

/* Header */
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: -3px;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 70px;
    font-weight: 700;
    color: #3427A3;
}

/* Nav */
.nav{
    font-size: 15px;
    text-transform: uppercase;
}

.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 30px;
    position: relative;
    color: #406CBB;
    text-decoration: none;
    transition: color .2s linear;
}

.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #7A9EC3;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
     z-index: 1;
     transition: opacity .1s linear;
}

.nav__link:hover {
    color: #7A9EC3;
}

.nav__link:hover:after,
.nav__link.active:after {
    opacity: 1;
}

.nav__link.active {
    color: #7A9EC3
}
/* Button */
.btn{
   display: inline-block;
   cursor: pointer;
   vertical-align: top;
   padding: 8px 30px;
   border: 2px solid #fff;
   font-size: 14px;
   font-weight: 700;
   color: #406CBB;
   text-transform: uppercase;
   text-decoration: none;
   transition: background .1s
   linear, color .1s linear;
}

.btn:hover {
    background-color: #7A9EC3;
    color: #fff;
}

/* Slider */
.slider {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.slider__inner {
    display: flex;
    justify-content: space-between;
}
.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #7A9EC3;
    opacity: .7;
    font-size: 18px;
    color: #406CBB;
    text-transform: uppercase;
}

.slider__item.active {
    opacity: 1;
}
.slider__item.active:before {
    content: "";
    display: block;
    width: 70px;
    height: 3px;
    background-color: #406CBB;
    position: absolute;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}

/* Section */
.section {
    padding: 80px 0;
}

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    margin-bottom: 40px;
    text-align: center;
}

.section__suptitle {
    font-family: 'Montagu Slab', 
    cursive;
    font-size: 24px;
    color: #406CBB;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #406CBB;
}

.section__text {
    font-size: 15 px;
    color: #fff;
}

/* About */
.about {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.about__item {
    width: 250px;
    position: relative;
    background-color: #406CBB;
}

.about__item:hover .about__img {
    transform: translate3d(-10px, -10px, 0);
}

.about__item:hover .about__img img {
    opacity: .5;
}

.about__item:hover .about__text {
    opacity: 1;
}

.about__img {
    background: linear-gradient(to bottom,
     #fff, #406CBB);

     transition: transform .2s linear;
}

.about__img img {
    display: block;
    transition: opacity .1s linear;
}

.about__text {
    width: 100%;
    font-size: 18px;
    color: #FAA365;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}

/*Statistics*/
.statistics{
    background-color: #FFC092;
}

.stat {
    display: flex;
}

.stat__item {
    flex: 1 1 0;
    padding: 70px 25px;
    border-left: 1px solid #fff;
    text-align: center;
    color: #fff;
}

.stat__item:last-child {
    border-right: 1px solid #fff;
}

.stat__count{
    margin-bottom: 10px;
    font-size: 50px;
    font-weight: 700;
    line-height: 1;
}

.stat__text {
    font-size: 14px;
    text-transform: uppercase;
}

/* Services */
.contacts {
    display: flex;
}

.contacts__item {
    flex: 1 1 0;
}